<mat-toolbar color="primary" class="mat-elevation-z8" style="margin-bottom: 20px;">
  <h2>Welcome to OData Component</h2>
  
  <mat-toolbar-row>
    <button mat-button style="margin-bottom: 10px;" (click)="testGet()">Get Request</button>

    <button mat-button style="margin-bottom: 10px;" (click)="testPost()">Post Request</button>
    <br />

    <button mat-button style="width: 150px; margin-bottom: 10px;" (click)="testPut()">Put Request</button>
    <br />

    <button mat-button style="width: 150px; margin-bottom: 10px;" (click)="testPatch()">Patch Request</button>
    <br />

    <button mat-button style="width: 150px; margin-bottom: 10px;" (click)="testDelete()">Delete Request</button>
    <br />
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="mat-elevation-z8">
    <h3>Request results will be displayed here</h3>
    <pre>{{requestResult | json}}</pre>
</mat-card>
